@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

.container {
    max-width: 1140px;
    @apply px-3;
}

.menu li:hover a {
    @apply hover:text-green-500 block;
}

.menu li {
    @apply cursor-pointer;
}

.menu li.active a {
    @apply text-green-500 text-white;
}

.menu .sub-menu {
    @apply top-7 left-0 w-60 bg-white p-2 z-10 shadow-xl rounded-md border-t pl-5 absolute hidden;
    border: 1px solid #c2c2c2;
}

.sub-menu:before {
    @apply absolute;
    content: "";
    border-style: solid;
    border-width: 8px 10px;
    border-color: transparent transparent #c2c2c2 transparent;
    left: 20px;
    top: -16px;
}

.menu .sub-menu li {
    @apply my-2;
}

.menu li:hover .sub-menu {
    @apply block;
}

/** for description */
.description ul {
    @apply list-disc pl-4;
}

/** for content */
.content img {
    @apply mx-5;
}

.modal {
    transition: opacity 0.25s ease;
}

body.modal-active {
    overflow-x: hidden;
    overflow-y: visible !important;
}

.opacity-95 {
    opacity: 0.8;
}

/** tooltip */
.tooltip .tooltip-text {
    visibility: hidden;
    text-align: center;
    padding: 2px 6px;
    position: absolute;
    z-index: 100;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}

/** menu */
.logo {
    @apply flex-1;
}

.logo img {
    max-width: 130px;
}

.light-blue {
    background: #E9F5FB;
}


/** for flag */
.panel-flag {
    margin-left: -0.75rem;
    margin-top: -0.75rem;
}

.panel-label {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-box-shadow: 0 2px 6px rgba(33, 81, 72, .1), 0 2px 3px rgba(33, 81, 72, .1);
    box-shadow: 0 2px 6px rgba(33, 81, 72, .1), 0 2px 3px rgba(33, 81, 72, .1);
    background-color: #e63;
    height: 1.25em;
    color: #fff;
    font-size: 1rem;
    line-height: 1.25em;
}

.panel-label-text {
    display: inline-block;
    vertical-align: top;
    padding-right: 8px;
    padding-left: 15px;
    font-size: .875em;
    font-weight: 500;
    white-space: nowrap;
}

.panel-label .triangle-right {
    position: absolute;
    top: 0;
    left: 100%;
    border-color: transparent transparent transparent #e63;
    border-style: solid;
    border-width: .625em 0 .625em .3125em;
    width: 0;
    height: 0;
}

.panel-label:after, .panel-label:before {
    display: inline-block;
    position: absolute;
    right: 100%;
    width: calc(.4375em + 1px);
    content: "";
}

.panel-label:before {
    top: 0;
    border-top-left-radius: .375em;
    background-color: #e63;
    height: calc(100% + .25em);
}

.panel-label:after {
    top: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: #d52;
    height: .5em;
}

.panel-label:after, .panel-label:before {
    display: inline-block;
    position: absolute;
    right: 100%;
    width: calc(.4375em + 1px);
    content: "";
}

.svg-icon {
    width: 100%;
    height: 100%;
}

.fa-star {
    color: #d52;
}

/** for slide */
.branch .swiper-slide {
    opacity: 0.4;
}

.branch .swiper-slide-active {
    opacity: 1;
}

/** helper */
.highlight {
    @apply text-green-700;
}

.drawer {
    @apply -translate-x-full;
}

.drawer a.active {
    @apply bg-green-500 text-white;
}

.draw-open {
    @apply translate-x-0;
}

.main-button {
    @apply bg-green-500 text-white text-base font-semibold py-2 px-4 rounded-md shadow-md hover:bg-green-600;
}

/** tabs */
.tab {
    @apply text-base py-2 px-4 hover:bg-green-600 hover:text-white cursor-pointer;
}

.tab.active {
    @apply bg-green-500 text-white;
}

.tab-content {
    @apply hidden;
}

.tab-content.active {
    @apply block;
}

/** responsive */
@screen md {
    .logo {
        @apply flex-none;
    }
}

.parallax-about {
    background-image: url("../images/gioi-thieu.jpg");
}

.my-job {
    background-image: url("../images/banner.png");
}

.faq-title::after {
    content: "";
    background: url(//thachpham.com/chevron-down-black.svg) no-repeat right center;
    position: absolute;
    right: theme('spacing[4]');
    top: theme('spacing[6]');
    z-index: 1;
    width: 10px;
    height: 10px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: all .3s;
}

.img-icon {
    width: 77px;
}
